.alert {
    border-radius: $main-radius;
    border-right-width: 4px;
    i {
        margin-left: 10px;
    }
}

@each $key, $color in $colors {
    .alert-#{$key} {
        border-color: $color;
    }
}

.alert-dismissible {
    padding-right: inherit;
    padding-left: 4em;
    .close {
        transition: $main-transition color, opacity;
        right: unset;
        left: 0;
    }
}
