.badge {
    padding: 5px;
    margin: 0 2px;
    border-radius: $main-radius;
    font-family: $main-font;
    font-weight: bold;
}

.btn .badge {
    margin-right: 9px;
}

@each $key, $color in $colors {
    .badge-#{$key} {
        background-color: $color;
    }
}
