.breadcrumb-container {

    .breadcrumb {
        background-color: white;
        padding: 5px 10px;
        border-radius: $main-radius;
        box-shadow: 0 3px 5px 1px rgba(0, 0, 0, .025);
        display: inline-flex;

        .breadcrumb-item {
            padding-left: 0;
            font-size: .75em;
            font-family: $main-font;
            font-weight: lighter;

            a {
                color: black;
                font-family: $main-font;
                text-decoration: none;
            }

            & + .breadcrumb-item:before {
                content: "";
                font-family: "Material Design Icons";
                padding: 0 .2em;
                font-size: .65em;
                vertical-align: -0.08em;
            }
        }
    }
}
