.btn {
    border-radius: $main-radius;
    border: none;
    cursor: pointer;
    margin: 2px;
    transition: $main-transition;
    vertical-align: -0.05em;
}

.btn-my-primary {
    @include btn-adv($my-primary-color);
    color: white !important;
}

@each $key, $color in $colors {
    .btn-#{$key} {
        @include btn-adv($color)
    }
}
