.card {
    border: none;
    border-radius: $main-radius;
    overflow: hidden;
    box-shadow: $main-shadow;

    .card-header {
        background: hsl(0, 0, 97%);
        border: none;
    }

    .card-footer {
        background: unset;
    }
}
