.data-table {
    .card-header {
        padding: .75em .9em;

        .options {
            .btn-icon {
                i {
                    font-size: 1.2em;
                    vertical-align: -2px;
                }
            }

            select {
                border-radius: $main-radius;
                background-color: unset;
                border: 1px solid #d0d0d0;
                margin-right: 8px;
                transition: $main-transition;

                &:hover, &:focus {
                    cursor: pointer;
                    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, .05);
                    border-color: $my-primary-color;
                    outline: none;
                }
            }
        }

        .filter {
            display: none;

            .form-group {
                margin-bottom: 0;
                margin-top: 10px;
            }
        }

        .search {
            display: none;

            input {
                background-color: unset;
                border: unset;
                font-size: .8em;
                padding-right: 25px;
                box-shadow: none;
            }

            .form-group {
                margin-bottom: 0;
                margin-top: 10px;
                position: relative;

                i {
                    position: absolute;
                    top: 5px;
                }
            }
        }
    }
}
.data-table-btns {
    margin-right: 10px;
    .btn {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        position: relative;
        bottom: -6px;
    }
}
