.dropdown {

}
.dropdown-menu {
    margin-top: 4px;
    border-radius: $main-radius;
    border: none;
    box-shadow: $main-shadow;
}

.dropdown-item {
    text-align: right;
}

.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: $my-primary-color;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-right: .2em;
    margin-left: -4px;
    vertical-align: - .1em;
    content: "ï…€";
    font-family: "Material Design Icons";
    border: none;
}
