@font-face {
    font-family: 'Sans';
    src: url("../assets/fonts/IRANSansWeb.ttf");
}

@font-face {
    font-family: 'Sans Bold';
    src: url("../assets/fonts/IRANSansWeb_Bold.ttf");
}

@font-face {
    font-family: 'Sans Light';
    src: url("../assets/fonts/IRANSansWeb_Light.ttf");
}

@font-face {
    font-family: 'MDI';
    src: url("../node_modules/@mdi/font/fonts/materialdesignicons-webfont.woff2");
}
