@font-face {
    font-family: 'iransans';
    src: url("../assets/fonts/IRANSansWeb.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'iransans';
    src: url("../assets/fonts/IRANSansWeb_Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'iransans';
    src: url("../assets/fonts/IRANSansWeb_Light.ttf");
    font-weight: 300;
}

