.form-control-custom {
    transition: box-shadow .15s ease;
    border: 0;
    box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02);

    &:focus {
        box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    }
}

.custom-control-label.alternative {
    &::before {
        border: unset;
        box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    }
}

.custom-control-input.alternative:checked ~ .custom-control-label.alternative::before {
    background-color: map_get($colors, 'dark');
}
