.login-container {
    background-color: $my-light-color;
}

.login-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;

    .card-header {
        padding: 10px 0;
        background: unset;
        border-bottom: 1px solid #dee2e6;

        ul {
            padding: 0;
            margin: 0;

            li {
                a {
                    padding: 5px 0;
                    text-align: center;
                    border-left: 1px solid rgba(0, 0, 0, .125);
                    color: black;
                    text-decoration: none;
                    position: relative;
                    display: block;
                    width: 170px;
                    //transition: $main-transition;
                    &.active {
                        color: $my-primary-color;

                        &:after {
                            content: none;
                        }

                        &:before {
                            content: "";
                            display: inline-block;
                            background-color: $my-primary-color;
                            width: 50%;
                            height: 3px;
                            right: 42px;
                            position: absolute;
                            bottom: -11px;
                            border-radius: 4px 4px 0 0;
                        }
                    }
                }

                &:last-child {
                    a {
                        border: none;
                    }
                }
            }
        }

        .nav-tabs {
            border: none;
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }

    .card-footer {
        border: none;
        //background: linear-gradient(135deg, #4daf7c 0%,#2abb9b 100%);
        background: linear-gradient(130deg, #2abb9b, #4daf7c);
        background-size: 200% 200%;
        animation: AnimationName 5s ease infinite;
        @keyframes AnimationName {
            0% {
                background-position: 0% 51%
            }
            50% {
                background-position: 100% 50%
            }
            100% {
                background-position: 0% 51%
            }
        }

        span {
            color: white;
            display: block;
            text-align: center;
        }
    }
}

.std-code {
    position: relative;

    input {
        padding-left: 35px;
    }

    i {
        position: absolute;
        left: 0px;
        top: 30px;
        transform: rotate(180deg);
        opacity: .5;
        cursor: pointer;
        transition: opacity .25s ease-out;
        padding: 6px 10px;

        &:hover {
            opacity: 1;
        }
    }
}

.login-desc {
    text-align: justify;
    font-size: .90rem;
    line-height: 1.8;
}

.login-desc-items {
    list-style: none;
    padding: 0 12px;

    li {
        text-align: justify;
        font-size: .8rem;
        line-height: 1.65;
        margin-bottom: 7px;
    }

    li:before {
        content: "";
        font-family: "MDI";
        display: inline-block;
        width: 1.5em; /* same as padding-left set on li */
    }
}
