#sidebar {
    height: 100%;
    width: $sidebar-width;
    position: fixed;
    z-index: 998;
    top: 0;
    right: -$sidebar-width;
    overflow: auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .05);
    padding: 10px;
    background-color: white;
    transition: $sidebar-transition right;

    &.sidebar-show {
        right: 0;
    }

    .btnReservation {
        display: block;
        background-color: $my-primary-color;
        //box-shadow: 0 5px 10px 0 rgba(3, 201, 169, .25);
        box-shadow: 0 5px 10px 0 rgba(110, 110, 110, .25);

        &:hover {
            background-color: lighten($my-primary-color, $btn-lighten);
        }

        &:active {
            background-color: darken($my-primary-color, $btn-darken) !important;
        }
    }

    .Credit {
        margin-top: 15px;
        padding: 0 10px;

        a {
            color: #838383;

            i {
                font-size: 12px;
            }

            span {
                font-size: 12px;
                font-weight: normal;
            }
        }

        span {
            font-size: 13px;
            font-family: $main-font;
            font-weight: bold;
        }
    }

    ul {
        list-style-type: none;
        padding: 10px 0 0 0;

        li {
            margin-bottom: 2px;

            .dropdown-btn {
                &:after {
                    content: '';
                    font-family: "Material Design Icons";
                    float: left;
                    color: black;
                    margin-left: 12px;
                    transition: $main-transition;
                }

                &:before {
                    content: '';
                    display: inline-block;
                    width: 4px;
                    height: 25px;
                    position: absolute;
                    right: -5px;
                    border-radius: 4px 0 0 4px;
                    background-color: $my-primary-color;
                    transition: $main-transition;
                }

                &.dropdown-active {
                    background-color: $my-light-color;

                    &:after {
                        transform: rotate(180deg);
                    }

                    &:before {
                        right: 0;
                    }
                }
            }

            .dropdown-content {
                margin-right: 25px;
                display: none;

                a {
                    margin-bottom: 2px;
                    margin-top: 2px;
                }
            }

            a {
                text-align: right;
                text-decoration: none;
                display: block;
                padding: 8px 12px 8px 0;
                border-radius: 0 11px 11px 0;
                transition: .3s ease-out background-color;
                font-size: 14px;
                margin-left: -10px;

                span, i {
                    color: black;
                }

                span {
                    margin-right: 10px;
                }
            }

            a:hover {
                background-color: $my-light-color;

                span, i {
                    transition: .3s ease-out;
                }
            }

            a.active {
                background-color: $my-primary-color;
                color: white;

                span, i {
                    color: white;
                }
            }
        }
    }
}
