.nav {
    padding-right: 0;

    &.nav-pills {
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow: auto;
        padding-bottom: 10px;

        .nav-item {
            margin: 0 2px;
            white-space: nowrap;

            a {
                border-radius: $main-radius;
                transition: $main-transition;
                color: $my-primary-color;

                &:hover {
                    color: darken($my-primary-color, 10%);
                }

                &.active {
                    color: $my-primary-color;
                    background-color: white;
                    box-shadow: $main-shadow;
                }

                &.disabled {
                    color: lighten(map_get($colors, 'dark'), 50%);
                }
            }
        }
    }

    &.nav-tabs {
        border: none;
        flex-wrap: nowrap;
        overflow: auto;
        padding-bottom: 10px;

        .nav-item {
            margin: 0 2px;
            white-space: nowrap;

            a {
                transition: $main-transition background-color, $main-transition color;
                border: none;
                background-color: white;
                color: $my-primary-color;
                border-radius: $main-radius;
                box-shadow: $main-shadow;

                &.disabled {
                    color: lighten(map_get($colors, 'dark'), 60%);
                    background-color: white;
                    cursor: default;
                }

                &:hover:not(.disabled):not(.active) {
                    color: darken($my-primary-color, 10%);
                }

                &.active {
                    background-color: $my-primary-color;
                    color: white;
                }
            }
        }
    }
}
