$my-primary-color: #2ABB9B;
//$my-primary-color: #ffaa00;
//$my-primary-color: #a28a71;
$my-light-color: #ECF0F1;

// Colors
$primary-color: #1E8BC3;
$success-color: #2ABB9B;
$light-color: #dadfe1;
$dark-color: #2e3131;
$warning-color: #E9D460;
$danger-color: #c0392b;
$info-color: #00b5cc;
$secondary-color: #c3c3c3;

// Sidebar
$sidebar-width: 250px;
$sidebar-transition: .75s cubic-bezier(0.25, 0.1, 0.25, 1);

// Transition
$main-transition: .3s ease-out;

// Buttons
$btn-lighten: 4%;
$btn-darken: 3%;

// Radius
$main-radius: 5px;
