meta(charset="utf-8")
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name="theme-color", content="#2ABB9B")
script(src="node_modules/jquery/dist/jquery.min.js")
script(src="node_modules/popper.js/dist/umd/popper.min.js")
script(src="node_modules/bootstrap/dist/js/bootstrap.min.js")
script(src="node_modules/jquery-touchswipe/jquery.touchSwipe.min.js")
script(src="js/core.js")
link(rel="stylesheet", href="node_modules/bootstrap/dist/css/bootstrap.min.css")
link(rel="stylesheet", href="node_modules/@mdi/font/css/materialdesignicons.min.css")
link(rel="stylesheet", href="scss/core.css")
link(rel="icon" type="image/ico" href="assets/img/fav.ico")
