include pug/variables
include pug/mixins

doctype html
html(lang="fa-IR")
    head
        title Panel
        include pug/head
    body
        include pug/sidebar
        .back-drop
        include pug/navbar

        .app-body.show-menu
            include pug/breadcrumbs
            include pug/dashboard
