meta(charset="utf-8")
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name="theme-color", content="#2ABB9B")
script(src="./js/app-min.js")
link(rel="stylesheet", href="./css/core.css")
link(rel="icon" type="image/ico" href="./assets/img/fav.ico")
