#sidebar.sidebar-show
    .btn.btn-success.btn-new-task سفارش جدید
    .d-flex.justify-content-between.credit
        div
            a(href="#")
                i.mdi.mdi-plus
                span.mr-1 اعتبار حساب
        div
            span 5,500 تومان


    ul
        each item in sideBarMenuItems
            if item.type === sidebarMenuType.Single
                +sideBarMenuSingle(item)
            else
                +sidebarMenuDropdown(item)
