-
    const sidebarMenuType = {'Single': 0, 'Dropdown': 1}
    const sideBarMenuItems = [
        {label: 'پیشخوان', iconClass: 'mdi mdi-view-dashboard', href: 'index.html', type: sidebarMenuType.Single},
        {label: 'اخطار', iconClass: 'mdi mdi-alert', href: 'alert.html', type: sidebarMenuType.Single},
        {label: 'نشان', iconClass: 'mdi mdi-numeric-1-box', href: 'badge.html', type: sidebarMenuType.Single},
        {label: 'برد کرامب', iconClass: 'mdi mdi-bread-slice', href: 'breadcrumb.html', type: sidebarMenuType.Single},
        {label: 'کارد', iconClass: 'mdi mdi-cube', href: 'card.html', type: sidebarMenuType.Single},
        {label: 'دکمه', iconClass: 'mdi mdi-radiobox-marked', href: 'button.html', type: sidebarMenuType.Single},
        {label: 'دراپ داون', iconClass: 'mdi mdi-arrow-down-drop-circle', href: 'dropdown.html', type: sidebarMenuType.Single},
        {label: 'فرم', iconClass: 'mdi mdi-textbox', type: sidebarMenuType.Dropdown,
            dropdownContent: [
                {label: 'معمولی', iconClass: 'mdi mdi-textbox', href: 'form.html', type: sidebarMenuType.Single},
                {label: 'کاستوم', iconClass: 'mdi mdi-textbox-password', href: 'form-custom.html', type: sidebarMenuType.Single},
                {label: 'فایل اینپوت', iconClass: 'mdi mdi-file', href: 'form-file-input.html', type: sidebarMenuType.Single},
            ]
        },
        {label: 'لیست گروپ', iconClass: 'mdi mdi-format-list-bulleted mdi-rotate-180', href: "list-group.html",type: sidebarMenuType.Single},
        {label: 'تب ست', iconClass: 'mdi mdi-tab', href: "nav-tabs.html",type: sidebarMenuType.Single},
        {label: 'صفحه بندی', iconClass: 'mdi mdi-book-open-page-variant', href: "pagination.html",type: sidebarMenuType.Single},
        {label: 'اطلاعیه', iconClass: 'mdi mdi-bell', href: "toast.html",type: sidebarMenuType.Single},
        {label: 'دیتاتیبل', iconClass: 'mdi mdi-table', href: "data-table.html",type: sidebarMenuType.Single},
        {label: 'پاپ اور', iconClass: 'mdi mdi-content-duplicate', href: "popover.html",type: sidebarMenuType.Single},
        {label: 'تصویر', iconClass: 'mdi mdi-image', href: "image.html",type: sidebarMenuType.Single},
    ];

    const breadcrumbs = [
        {label: 'پیشخوان', iconClass: 'mdi mdi-view-dashboard', href: '#'},
        {label: 'پروفایل', iconClass: 'mdi mdi-account', href: '#'},
        {label: 'ویرایش', iconClass: 'mdi mdi-pencil', href: '#'},
    ]
