-
    const sidebarMenuType = {'Single': 0, 'Dropdown': 1}
    const sideBarMenuItems = [
        {label: 'پیشخوان', iconClass: 'mdi mdi-view-dashboard', href: 'index.html', type: sidebarMenuType.Single},
        {label: 'اخطار', iconClass: 'mdi mdi-alert', href: 'alert.html', type: sidebarMenuType.Single},
        {label: 'دکمه', iconClass: 'mdi mdi-radiobox-marked', href: 'button.html', type: sidebarMenuType.Single},
        {label: 'رزرو غذا', iconClass: 'mdi mdi-format-list-checks', href: '#', type: sidebarMenuType.Single},
        {label: 'کاربران', iconClass: 'mdi mdi-account-group', href: '#', type: sidebarMenuType.Dropdown,
            dropdownContent: [
                {label: 'دانشجویان', iconClass: 'mdi mdi-account', href: '#', type: sidebarMenuType.Single},
                {label: 'اساتید', iconClass: 'mdi mdi-account', href: '#', type: sidebarMenuType.Single},
            ]
        },
        {label: 'گزارشات', iconClass: 'mdi mdi-history', href: '#', type: sidebarMenuType.Single}
    ];

    const breadcrumbs = [
        {label: 'پیشخوان', iconClass: 'mdi mdi-view-dashboard', href: '#'},
        {label: 'پروفایل', iconClass: 'mdi mdi-account', href: '#'},
        {label: 'ویرایش', iconClass: 'mdi mdi-pencil', href: '#'},
    ]
