.text-center
    img(src="./assets/img/ding-ding-logo.png", alt="DingDing-Panel Logo" style="width: 100px;").mb-3
    .display-4 DingDing-Panel
    p.mt-2 Persian Admin Template

.text-left(style="direction: ltr")
    h5 Installation
    .example-container
        .code
            pre
                 code
                    | git clone https://github.com/moein459/DingDing-Panel.git

    h5 Resolve Dependencies
    small ( you need #[a(href="https://nodejs.org/", target="_blank") node] )
    .example-container
        .code
            pre
                code
                    | npm install --unsafe-perm

    h5 Build & Development
    .example-container
        .code
            pre
                code
                    | npm run build

    h4 Note
    ul
        li
            | Don't forget to buy IranSans font from #[a(href="https://fontiran.com/", target="_blank") Fontiran].
        li
            | If you use one of the js libraries or frameworks like React, Angular, Vue etc, I highly recommend you to don't build solution. instead, import styles and js or even dependencies manually. for example you may wanna only use 50% features of bootstrap or for js files you may want to apply functionality with your framework features.
