extends ../pug/layout

block content
    h4 فرم کاستوم

    .row
        .col-xl-9.col-lg-8.col-md-12
            div(id="formCustom")
                .example-container
                    .view
                        form
                            .form-group
                                label(for='exampleInputEmail1') آدرس ایمیل
                                input#exampleInputEmail1.form-control.form-control-custom(type='email', aria-describedby='emailHelp', placeholder='example@mail.com')
                                small#emailHelp.form-text.text-muted برای دیگران نمایش داده نخواهد شد.
                            .form-group
                                label(for='exampleInputPassword1') پسورد
                                input#exampleInputPassword1.form-control.form-control-custom(type='password', placeholder='')
                            .form-group
                                .custom-control.custom-checkbox
                                    input#customCheck1.custom-control-input.alternative(type='checkbox')
                                    label.custom-control-label.alternative(for='customCheck1') قوانین را مطالعه کرده ام
                            .form-group
                                .custom-control.custom-radio
                                    input#customRadio1.custom-control-input.alternative(type='radio', name='customRadio')
                                    label.custom-control-label.alternative(for='customRadio1') مرد
                                .custom-control.custom-radio
                                    input#customRadio2.custom-control-input.alternative(type='radio', name='customRadio')
                                    label.custom-control-label.alternative(for='customRadio2') زن
                                .custom-control.custom-switch
                                    input#customSwitch1.custom-control-input.alternative(type='checkbox')
                                    label.custom-control-label.alternative(for='customSwitch1') فعالسازی

                            button.btn.btn-my-primary.btn-colored-shadow(type='submit') ثبت نام
                            button.btn.btn-light.btn-colored-shadow(type='reset') بازنشانی

                    .code
                        pre
                            code
                                | &lt;form&gt;
                                |   &lt;div class=&quot;form-group&quot;&gt;
                                |       &lt;label for=&quot;exampleInputEmail1&quot;&gt;آدرس ایمیل&lt;/label&gt;
                                |       &lt;input class=&quot;form-control form-control-custom&quot; id=&quot;exampleInputEmail1&quot; type=&quot;email&quot; aria-describedby=&quot;emailHelp&quot; placeholder=&quot;example@mail.com&quot; /&gt;
                                |       &lt;small class=&quot;form-text text-muted&quot; id=&quot;emailHelp&quot;&gt;برای دیگران نمایش داده نخواهد شد.&lt;/small&gt;
                                |   &lt;/div&gt;
                                |   &lt;div class=&quot;form-group&quot;&gt;
                                |       &lt;label for=&quot;exampleInputPassword1&quot;&gt;پسورد&lt;/label&gt;
                                |       &lt;input class=&quot;form-control form-control-custom&quot; id=&quot;exampleInputPassword1&quot; type=&quot;password&quot; placeholder=&quot;&quot; /&gt;
                                |   &lt;/div&gt;
                                |   &lt;div class=&quot;form-group&quot;&gt;
                                |       &lt;div class=&quot;custom-control custom-checkbox&quot;&gt;
                                |           &lt;input class=&quot;custom-control-input alternative&quot; id=&quot;customCheck1&quot; type=&quot;checkbox&quot; /&gt;
                                |           &lt;label class=&quot;custom-control-label alternative&quot; for=&quot;customCheck1&quot;&gt;قوانین را مطالعه کرده ام&lt;/label&gt;
                                |       &lt;/div&gt;
                                |   &lt;/div&gt;
                                |   &lt;div class=&quot;form-group&quot;&gt;
                                |       &lt;div class=&quot;custom-control custom-radio&quot;&gt;&lt;input class=&quot;custom-control-input alternative&quot; id=&quot;customRadio1&quot; type=&quot;radio&quot; name=&quot;customRadio&quot; /&gt;&lt;label class=&quot;custom-control-label alternative&quot; for=&quot;customRadio1&quot;&gt;مرد&lt;/label&gt;&lt;/div&gt;
                                |       &lt;div class=&quot;custom-control custom-radio&quot;&gt;&lt;input class=&quot;custom-control-input alternative&quot; id=&quot;customRadio2&quot; type=&quot;radio&quot; name=&quot;customRadio&quot; /&gt;&lt;label class=&quot;custom-control-label alternative&quot; for=&quot;customRadio2&quot;&gt;زن&lt;/label&gt;&lt;/div&gt;
                                |       &lt;div class=&quot;custom-control custom-switch&quot;&gt;&lt;input class=&quot;custom-control-input alternative&quot; id=&quot;customSwitch1&quot; type=&quot;checkbox&quot; /&gt;&lt;label class=&quot;custom-control-label alternative&quot; for=&quot;customSwitch1&quot;&gt;فعالسازی&lt;/label&gt;&lt;/div&gt;
                                |   &lt;/div&gt;
                                |   &lt;button class=&quot;btn btn-my-primary btn-colored-shadow&quot; type=&quot;submit&quot;&gt;ثبت نام&lt;/button&gt;
                                |   &lt;button class=&quot;btn btn-light btn-colored-shadow&quot; type=&quot;reset&quot;&gt;بازنشانی&lt;/button&gt;
                                | &lt;/form&gt;


        .col-xl-3.col-lg-4.col-md-12
            ul.code-examples-side-nav
                li
                    a(href="#formCustom") فرم کاستوم
