extends ../pug/layout

block content
    h4 فایل اینپوت

    .row
        .col-xl-9.col-lg-8.col-md-12
            div(id="cardNormal")
                .example-container
                    .view
                        .btn.btn-success.btn-colored-shadow.icon.mb-2
                            i.mdi.mdi-upload
                            | آپلود فایل
                            input(type="file")

                        ul.list-unstyled.p-0
                            li
                                .file-item
                                    i.mdi.mdi-file
                                    | user.jpg
                                    span
                            li
                                .file-item
                                    i.mdi.mdi-file
                                    | profile-image.jpg
                                    span.uploaded
                    .code
                        pre
                            code
                                |&lt;div class=&quot;btn btn-success btn-colored-shadow icon mb-2&quot;&gt;&lt;i class=&quot;mdi mdi-upload&quot;&gt;&lt;/i&gt;آپلود فایل&lt;input type=&quot;file&quot; /&gt;&lt;/div&gt;
                                |&lt;ul class=&quot;list-unstyled p-0&quot;&gt;
                                |   &lt;li&gt;
                                |       &lt;div class=&quot;file-item&quot;&gt;&lt;i class=&quot;mdi mdi-file&quot;&gt;&lt;/i&gt;user.jpg&lt;span&gt;&lt;/span&gt;&lt;/div&gt;
                                |   &lt;/li&gt;
                                |   &lt;li&gt;
                                |       &lt;div class=&quot;file-item&quot;&gt;&lt;i class=&quot;mdi mdi-file&quot;&gt;&lt;/i&gt;profile-image.jpg&lt;span class=&quot;uploaded&quot;&gt;&lt;/span&gt;&lt;/div&gt;
                                |   &lt;/li&gt;
                                |&lt;/ul&gt;

                .example-container
                    .view
                        .upload-image-wrapper
                            img(src='../assets/img/def-image.jpg')
                            input#img(type='file')

                    .code
                        pre
                            code
                                |&lt;div class=&quot;upload-image-wrapper&quot;&gt;
                                |   &lt;img src=&quot;../assets/img/def-image.jpg&quot; /&gt;
                                |   &lt;input id=&quot;img&quot; type=&quot;file&quot; /&gt;
                                |&lt;/div&gt;

                .example-container
                    .view
                        .upload-image-wrapper.avatar
                            img(src='../assets/img/def-image.jpg')
                            input#avatar(type='file')

                    .code
                        pre
                            code
                                | &lt;div class=&quot;upload-image-wrapper avatar&quot;&gt;
                                |   &lt;img src=&quot;../assets/img/def-image.jpg&quot; /&gt;
                                |   &lt;input id=&quot;img&quot; type=&quot;file&quot; /&gt;
                                | &lt;/div&gt;
