extends ../pug/layout

block content
    h4 تصویر

    .row
        .col-xl-9.col-lg-8.col-md-12
            div(id="imgNormal")
                .example-container
                    .view
                        img.img-thumbnail.rounded(src='../assets/img/def-image.jpg', width=200)

                    .code
                        pre
                            code
                                | &lt;img src=&quot;...&quot; alt=&quot;...&quot; class=&quot;img-thumbnail&quot;&gt;

            div(id="imgScalable")
                .example-container
                    .view
                        .img-scalable
                            img.img-thumbnail.rounded(src='../assets/img/def-image.jpg', width=200)

                    .code
                        pre
                            code
                                | &lt;div class=&quot;img-scalable&quot;&gt;
                                |   &lt;img class=&quot;img-thumbnail rounded&quot; src=&quot;...&quot; width=&quot;...&quot; /&gt;
                                | &lt;div/&gt;

        .col-xl-3.col-lg-4.col-md-12
            ul.code-examples-side-nav
                li
                    a(href="#imgNormal") عکس
                li
                    a(href="#imgScalable") عکس کلیک شونده
